version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    commit-message:
      prefix: 'fix'
      prefix-development: 'chore'
      include: 'scope'
  - package-ecosystem: 'npm'
    directory: '/'
    target-branch: 'v1'
    schedule:
      interval: 'weekly'
    commit-message:
      prefix: 'fix'
      prefix-development: 'chore'
      include: 'scope'
    # v1 branch: Disable version updates, only security updates via Dependabot rules
    open-pull-requests-limit: 0
